@import '../../utils/border-box-sizing.css';

:host {
  --awesome-ratio-box-ratio: calc(var(--awesome-height-factor) / var(--awesome-width-factor));

  display: block;
  width: 100%;
}

#outer-container {
  position: relative;
  width: 100%;
  padding-top: calc(var(--awesome-ratio-box-ratio) * 100%);
}

#inner-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

::slotted(*) {
  box-sizing: border-box;
}
