@import '../../utils/border-box-sizing.css';
@import '../../utils/view-breakpoints.css';

:host {
  /**
   * @prop --container-background: Background of the inner container
   * @prop --container-padding: Padding of the inner container
   */
  --container-background: none;
  --container-padding: 0;

  /**
   * @prop --outer-xs: The outer view breakpoint of xs. (Default: 0)
   * @prop --outer-sm: The outer view breakpoint of sm. (Default: 576)
   * @prop --outer-md: The outer view breakpoint of md. (Default: 768)
   * @prop --outer-lg: The outer view breakpoint of lg. (Default: 992)
   * @prop --outer-xl: The outer view breakpoint of xl. (Default: 1200)
   * @prop --outer-xxl: The outer view breakpoint of xxl. (Default: 1400)
   */
  --outer-xs: 0;
  --outer-sm: 576;
  --outer-md: 768;
  --outer-lg: 992;
  --outer-xl: 1200;
  --outer-xxl: 1400;

  display: block;
}

#main-container {
  max-width: var(--content-max-width);
  margin: auto;
  background: var(--container-background);
  padding: var(--container-padding);
}
