@import '../../utils/border-box-sizing.css';
@import '../../utils/view-breakpoints.css';

:host {
  /**
   * @prop --awesome-outer-xs: The outer view breakpoint of xs. (Default: 0)
   * @prop --awesome-outer-sm: The outer view breakpoint of sm. (Default: 576)
   * @prop --awesome-outer-md: The outer view breakpoint of md. (Default: 768)
   * @prop --awesome-outer-lg: The outer view breakpoint of lg. (Default: 992)
   * @prop --awesome-outer-xl: The outer view breakpoint of xl. (Default: 1200)
   * @prop --awesome-outer-xxl: The outer view breakpoint of xxl. (Default: 1400)
   */
  --awesome-outer-xs: 0;
  --awesome-outer-sm: 576;
  --awesome-outer-md: 768;
  --awesome-outer-lg: 992;
  --awesome-outer-xl: 1200;
  --awesome-outer-xxl: 1400;

  display: block;
}

[part='inner'] {
  max-width: var(--content-max-width);
  margin: auto;
}
