@import '../../utils/border-box-sizing.css';
@import '../../utils/view-breakpoints.css';

:host {
  /**
   * @prop --awesome-wrap-outer-breakpoint-xs: The outer breakpoint of xs. (Default: 0)
   * @prop --awesome-wrap-outer-breakpoint-sm: The outer breakpoint of sm. (Default: 576)
   * @prop --awesome-wrap-outer-breakpoint-md: The outer breakpoint of md. (Default: 768)
   * @prop --awesome-wrap-outer-breakpoint-lg: The outer breakpoint of lg. (Default: 992)
   * @prop --awesome-wrap-outer-breakpoint-xl: The outer breakpoint of xl. (Default: 1200)
   * @prop --awesome-wrap-outer-breakpoint-xxl: The outer breakpoint of xxl. (Default: 1400)
   */
  --awesome-wrap-outer-breakpoint-xs: 0;
  --awesome-wrap-outer-breakpoint-sm: 576;
  --awesome-wrap-outer-breakpoint-md: 768;
  --awesome-wrap-outer-breakpoint-lg: 992;
  --awesome-wrap-outer-breakpoint-xl: 1200;
  --awesome-wrap-outer-breakpoint-xxl: 1400;

  /**
   * @prop --awesome-wrap-inner-breakpoint-xs: The inner breakpoint of xs. (Default to --awesome-view-breakpoint-xs)
   * @prop --awesome-wrap-inner-breakpoint-sm: The inner breakpoint of sm. (Default to --awesome-view-breakpoint-sm)
   * @prop --awesome-wrap-inner-breakpoint-md: The inner breakpoint of md. (Default to --awesome-view-breakpoint-md)
   * @prop --awesome-wrap-inner-breakpoint-lg: The inner breakpoint of lg. (Default to --awesome-view-breakpoint-lg)
   * @prop --awesome-wrap-inner-breakpoint-xl: The inner breakpoint of xl. (Default to --awesome-view-breakpoint-xl)
   * @prop --awesome-wrap-inner-breakpoint-xxl: The inner breakpoint of xxl. (Default to --awesome-view-breakpoint-xxl)
   */
   --awesome-wrap-inner-breakpoint-xs: var(--awesome-view-breakpoint-xs);
   --awesome-wrap-inner-breakpoint-sm: var(--awesome-view-breakpoint-sm);
   --awesome-wrap-inner-breakpoint-md: var(--awesome-view-breakpoint-md);
   --awesome-wrap-inner-breakpoint-lg: var(--awesome-view-breakpoint-lg);
   --awesome-wrap-inner-breakpoint-xl: var(--awesome-view-breakpoint-xl);
   --awesome-wrap-inner-breakpoint-xxl: var(--awesome-view-breakpoint-xxl);

  display: block;
}

[part='inner'] {
  max-width: var(--content-max-width);
  margin: auto;
}
