:host {
  /**
   * @prop --awesome-view-breakpoint-xs: The view breakpoint for xs. (Default: 0)
   * @prop --awesome-view-breakpoint-sm: The view breakpoint for sm. (Default: 540)
   * @prop --awesome-view-breakpoint-md: The view breakpoint for md. (Default: 720)
   * @prop --awesome-view-breakpoint-lg: The view breakpoint for lg. (Default: 960)
   * @prop --awesome-view-breakpoint-xl: The view breakpoint for xl. (Default: 1140)
   * @prop --awesome-view-breakpoint-xxl: The view breakpoint for xxl. (Default: 1320)
   */

  --awesome-view-breakpoint-xs-local: var(--awesome-view-breakpoint-xs, 0);
  --awesome-view-breakpoint-sm-local: var(--awesome-view-breakpoint-sm, 540);
  --awesome-view-breakpoint-md-local: var(--awesome-view-breakpoint-md, 720);
  --awesome-view-breakpoint-lg-local: var(--awesome-view-breakpoint-lg, 960);
  --awesome-view-breakpoint-xl-local: var(--awesome-view-breakpoint-xl, 1140);
  --awesome-view-breakpoint-xxl-local: var(--awesome-view-breakpoint-xxl, 1320);
}
