@import '../../utils/border-box-sizing.css';

:host {
  --awesome-grid-template-rows: '';
  --awesome-grid-template-columns: '';
  --awesome-grid-row-gap: '';
  --awesome-grid-column-gap: '';

  display: block;
}

#main-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: var(--awesome-grid-template-rows);
  grid-template-columns: var(--awesome-grid-template-columns);
  row-gap: var(--awesome-grid-row-gap);
  column-gap: var(--awesome-grid-column-gap);
}
