@import '../../utils/border-box-sizing.css';

:host {
  --awesome-grid-column: '';
  --awesome-grid-row-span: '';
  --awesome-grid-column: '';
  --awesome-grid-column-span: '';

  display: block;
  height: 100%;
  width: 100%;
  grid-row-start: var(--awesome-grid-row, auto);
  grid-row-end: span var(--awesome-grid-row-span, 1);
  grid-column-start: var(--awesome-grid-column, auto);
  grid-column-end: span var(--awesome-grid-column-span, 1);
}
